body {
  font-family: sans-serif;
  /* background-image: url("background.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

.grid-container {
  display: grid;
  width: 40vw;
  height: 40vw;
  position: absolute;
  left: 500px;
  top: 60px;
  border-style: solid;
}

#square {
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

