body {
  background-color: #FFFFF2;
  font-family: sans-serif;
  /* background-image: url("background.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

.grid-container {
  display: grid;
  width: 30vw;
  height: 30vw;
  position: absolute;
  left: 660px;
  top: 100px;
  border-style: solid;
}

#square {
  border-color:#071E22;
  border-style: solid;
  border-width: 1px;
}

.hero {
  font-size: xx-large;
  text-align: center;
  color: #7BB2D9;
}

.buttons {
  width: 300px;
  height: 400px;
  margin-left: 460px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-content: flex;
}

.btn {
  height: 50px;
  width: 130px;
  background-color: #7BB2D9;
  color: #FFFFF2;
  border-style: none;
  font-size: large;
  transition-duration: 0.4s;
}

.btn:hover {
  background-color: #4190C8;
}